:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --AccentBlue: hsl(248, 32%, 49%);
  --NeutralDarkBlue: hsl(249, 10%, 26%);
  --NeutralGrayishBlue: hsl(246, 25%, 77%);
}
.web-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  background-image: url('./images/bg-intro-desktop.png');
  background-size: cover;
  background-color: var(--Red);
}